@media only screen and (max-width:1200px){
    .skill-section .js-professional-skill{
        margin:0;
    }
    .skill-section .js-technical-skill{
        margin-right:0;
    }
}


@media only screen and (max-width:1024px){
    .skill-section .js-professional-skill{
        margin-left:0;
    }
}


@media only screen and (min-width:768.99px){
    .menu-button{
        display:none;
    }
    .js-section-home .js-img-1{
        display:none;
    }
}


@media only screen and (max-width:767.99px){
    .js-section-home .js-img-1{
        display:block;
    }
    .js-section-home .js-img-2{
        display:none;
    }
    .section-separator{
        padding-top:3.25rem;
        padding-bottom:3.25rem;
    }
    .section-header{
        position:relative;
    }
    .section-header .navbar{
        display:inline-block;
        width:165px;
        margin:0;
        flex-direction:inherit;
        transform:translateX(-1000px);
        -webkit-transform:translateX(-1000px);
        -moz-transform:translateX(-1000px);
        -o-transform:translateX(-1000px);
        transition:.25s all ease-in-out;
        -webkit-transition:.25s all ease-in-out;
        -moz-transition:.25s all ease-in-out;
        -o-transition:.25s all ease-in-out;
    }
    .section-header .navbar.active{
        transform:translateX(0);
        -webkit-transform:translateX(0);
        -moz-transform:translateX(0);
        -o-transform:translateX(0);
        transition:.25s all ease-in-out;
        background:#1E1E24 !important;
    }
    .section-header .navbar.block{
        background:none;
        padding:0 !important;
        margin:0;
    }
    .section-header .menu-button{
        position:fixed;
        top:0;
        left:0;
        z-index:2000;
        padding:15px 20px;
    }
    .section-header .menu-button span>i{
        font-size:30px;
    }
    .section-header .navbar .js-menu{
        float:left;
        margin-left:0;
        padding:0;
        margin:0;
    }
    .section-header .navbar .navbar-nav{
        margin-top:35px;
    }
    .section-header .navbar-nav li{
        float:none;
        display:flex !important;
        padding: 10px 45px !important
    }
    .js-section-home .padding-home{
        padding:0;
        padding-bottom:40px;
    }
    .section-about .js-about-knowladge h2{
        margin-top:40px;
    }
    .js-section-about-do .service{
        margin-bottom:20px;
    }
    .section-about .js-about-knowladge{
        margin-left:0;
    }
    .js-experience-section .js-education-details{
        margin-right:0;
    }
    .js-experience-section .js-wexperience h2{
        margin-left:0 !important;
        margin-top:40px;
    }
    .js-experience-section .js-experience-details{
        margin-left:0;
    }
    .skill-section .js-professional-skill h2{
        margin-top:40px;
    }
    .js-pricing-section .js-price-card{
        margin-bottom:20px;
    }
    .js-feature_post-section .image-color-overlay .js-post-card{
        margin-bottom:20px;
    }
}


@media only screen and (max-width:568px){
    .section-separator{
        padding-top:2.25rem;
        padding-bottom:2.25rem;
    }
    .js-section-home .js-personal-dtls{
        text-align:center;
    }
    .section-about .js-about-knowladge{
        text-align:center;
    }
    .js-experience-section h2{
        text-align:center;
    }
}


@media only screen and (max-width:360px){
    .skill-section .js-professional-skill ul li:first-child{
        padding-left:0;
    }
    .skill-section .js-professional-skill ul li:last-child{
        padding-right:0;
    }
}